.header-menu {
  background-color: var(--dark-gray-purple);
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 20%);
  color: var(--lavender);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  top: -5px;
  width: 100%;
  z-index: 2;
}

.header-signature {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

#title {
  letter-spacing: 0.1rem;
}

.header-nav {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  gap: 2rem;
}

.header-nav span {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  position: relative;
}

.header-nav span:after {
  background-color: var(--lavender);
  bottom: 0;
  content: '';
  font-weight: 500;
  height: 1px;
  position: absolute;
  right: 0;
  transition: width 0.5s;
  width: 0;
}

.header-nav span:hover:after {
  font-weight: 500;
  width: 100%;
}

.header-nav.menu-close span {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

#dashboards-page-btn {
  background-color: transparent;
  border: none;
  color: var(--lavender);
  cursor: pointer;
  font-family: Manrope, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  outline: none;
}

#tolinkedin {
  color: var(--lavender);
  text-decoration: none;
}

#hamburger-btn {
  background: transparent;
  border: none;
  color: var(--lavender);
  cursor: pointer;
  font-size: 2rem;
}

@media screen and (min-width: 360px) and (max-width: 412px) and (min-height: 640px) and (max-height: 915px) {
  .header-nav {
    display: flex;
    flex-direction: column;
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--gray);
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1;
    padding-top: 1rem;
  }
  
  .header-nav.menu-open {
    width: 15rem;
  }
  
  .header-nav span {
    padding: 0.8rem;
    text-align: center;
  }
  
  .header-nav a {
    text-decoration: none;
  }
  
  #hamburger-btn {
    position: fixed;
    top: 1.25rem;
    left: 1.25rem;
    font-size: 1.5rem;
    color: var(--lavender);
    z-index: 2;
  }
}
